.venv
venv
__pycache__/
*.py[cod]
*.pyo
*.pyd

.git
.gitignore

.pytest_cache/
.ruff_cache/
.mypy_cache/

dist/
build/
*.egg-info/

.coverage
htmlcov/

.ipynb_checkpoints/

.DS_Store

.env
.env.*

.mlflow

src/house_prices_ml_foundations/__pycache__/
src/house_prices_ml_foundations/api/__pycache__/